<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="IQ.Catalogs.Host" value="https://catalogsdev.iqmetrix.net"/>
  </appSettings>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>
